<div class="col-xs-12 col-sm-6 full-height centered">
    <div class="row w-100">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="text-center mb-4">
                <img src="/assets/img/email.png" height="80" alt="">
            </div>
            <p class="text-center">We just need your registered Email id to send you password reset instructions</p>
            <form name="forgot_pass_from" ng-submit="forgot_pass_from.$valid && UserCtrl.forgotPassword()" novalidate>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="UserCtrl.email" required>
                    <!--				error dipplay -->
                    <div ng-messages="forgot_pass_from.email.$error" ng-show='forgot_pass_from.$submitted || forgot_pass_from.email.$dirty'>
                        <div ng-message="email" class="error">Please enter valid email.</div>
                        <div ng-message="required" class="error">This is a required field.</div>
                    </div>
                    <div class="error" ng-if="LoginCtrl.serverErrors" data-ng-cloak>
                        <span ng-repeat="error in LoginCtrl.serverErrors.email" class="help-block error">{{error}}</span>
                    </div>
                    <!--				end error display -->
                </div>
                <div class="text-center pt-1">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <div class="text-right pt-1">
                    <a ui-sref="app.public.login">Go back to Login!</a>
                </div>
            </form>
        </div>
    </div>
</div>